body {
	padding: 0px;
	margin: 0px;
}

#chart {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
}

#winnerNetworkContainer {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 1024px;
	height: 1024px;
}